<div class="p-2">
    <h4 class="pt-3 pb-2">Cadastre-se</h4>

    <form
        onsubmit="return false"
        [formGroup]="userForm"
        (ngSubmit)="createUser(userForm.value)"
    >
        <div class="form-row">
            <div class="col-4">
                <input
                    class="form-control"
                    type="text"
                    name="name"
                    placeholder="Nome"
                    id="name"
                    formControlName="name"
                    required
                />
            </div>
            <div class="col-4">
                <input
                    class="form-control"
                    type="number"
                    name="age"
                    placeholder="Idade"
                    id="age"
                    formControlName="age"
                    required
                />
            </div>
            <div class="col-4">
                <input
                    class="form-control btn btn-primary"
                    type="submit"
                    value="Salvar"
                    *ngIf="!userFormSubmitted"
                />
                <input
                    class="form-control btn btn-secondary disabled"
                    disabled
                    type="submit"
                    value="Salvo"
                    *ngIf="userFormSubmitted"
                />
            </div>
        </div>
    </form>

    <h4 class="pt-3 pb-2">Sugestões de amigos para você</h4>

    <div *ngIf="users.length">
        <div class="row pb-2 border-top pt-2" ng-repeat="user in users">
            <div class="col-6">
                <span class="text-bold">{{ user.name }}</span>
            </div>
            <div class="col-6 text-right">
                <a
                    class="btn btn-primary pl-2 pr-2 pt-0 pb-0"
                    href="#"
                    *ngIf="!user.isFriend"
                    ngClick="addFriend(user.name)"
                >
                    Adicionar amigo
                </a>
                <a
                    class="btn btn-secondary pl-2 pr-2 pt-0 pb-0 disabled"
                    href="#"
                    *ngIf="user.isFriend"
                >
                    Já é amigo
                </a>
            </div>
        </div>
    </div>
    <span *ngIf="!users.length">Não há sugestões para você :(</span>
</div>
